//FIXME: to classes.scss

.no-border-bottom-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.no-border {
  border: none !important;
  border-bottom: 1px solid #e3ebef !important;

}