.exchange-form {
  &__block {
    position: relative;
    flex: 1;
  }

  &__img {
    margin: 0 28px
  }

  &__bottom {
    margin-top: 32px;
  }

  &__address {
    line-height: 144%;
    margin-bottom: 8px;
  }
}